

  <h2>Core Java Courses</h2>
  <table>
    <tr>
      <th>Courses Name</th>
      <th>Trainer</th>
      <th>Duration(In Months)</th>
    </tr>
    <tr>
      <td>Core-Java Fresher</td>
      <td>Holmes</td>
      <td>One </td>
    </tr>
    <tr>
      <td>Core-Java-Intermediate</td>
      <td>Watson</td>
      <td>Two</td>
    </tr>
    <tr>
      <td>Core-Java Fresher</td>
      <td>Holmes</td>
      <td>One </td>
    </tr>
    <tr>
      <td>Core-Java-Intermediate</td>
      <td>Watson</td>
      <td>Two</td>
    </tr>

  </table>
