<!--<ul>
  <li><a routerLink='/home' routerLinkActive='active' class="active">Home</a></li>
  <li><a routerLink='/review' routerLinkActive='active' class="active">Reviews</a></li>
  <li><a routerLink='/technology' routerLinkActive='active' class="active">Tech </a></li>
  <li><a routerLink='/employee' routerLinkActive='active' class="active">Employees</a></li>
  <li><a routerLink='/products' routerLinkActive='active' class="active">Products</a></li>
  <li><a routerLink='/form' routerLinkActive='active' class="active">Form</a></li>
  <li><a routerLink='/model' routerLinkActive='active' class="active">Model-Form</a></li>
  <li><a routerLink='/build' routerLinkActive='active' class="active">Form-Build</a></li>
</ul>-->
<!--<app-navigation></app-navigation>-->
<router-outlet></router-outlet>
<!--<app-prodwjson></app-prodwjson>
<app-employee></app-employee>
<app-home></app-home>-->
<!--<div class="footer">
  <h5 style="padding-top:13px;">© 2021 Copyright</h5>
</div>-->
<!--<app-trial></app-trial>-->
<!--<app-angular></app-angular>-->

<!--<app-footer></app-footer>-->
