


<h1>Front End Technology</h1>




<div class="gallery">
  <a target="_blank" href="img_5terre.jpg">
    <img src="../assets/css.jfif" alt="Cinque Terre" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_forest.jpg">
    <img src="../assets/hcj.jfif" alt="Forest" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_lights.jpg">
    <img src="../assets/html.jfif" alt="Northern Lights" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="../assets/css.jfif" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="../assets/hcj.jfif" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="../assets/boot.jfif" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<br />
<br />&nbsp;
<!--<div class="center">
  <input [(ngModel)]="searchText" placeholder="Search Courses">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <label>Sort&nbsp;</label>
  <select [(ngModel)]='SortbyParam' style="padding:5px;border-radius:10px;">
    <option value="cid">cid</option>
    <option value="cname">Name</option>
    <option value="cprice">Price</option>

  </select>

  &nbsp;&nbsp;
  <button type="button" (click)="onSortDirection()" class="btn btn-primary">
    order
    <i *ngIf="SortDirection==='asc'" class="fa fa-arrow-up"></i>
    <i *ngIf="SortDirection==='desc'" class="fa fa-arrow-down"></i>
  </button>
</div>
<div class="container">
  <table class="table table-info table-hover center">
    <tr *ngIf="coursesFront.length!=0;else hide">
      <th>Course ID</th>
      <th>Logo</th>
      <th>Course Name</th>

      <th>Trainer Name </th>
      <th>Duration in Months</th>
      <th>Course Price </th>

    </tr>
    <tr *ngFor='let course of coursesFront|search:{cid: searchText, cname:searchText,tname: searchText}|sort:[SortbyParam,SortDirection]' appZoomd>
      <td>{{course.cid}}</td>
      <td> <img [src]='course.cImage'></td>
      <td>{{course.cname|titlecase}}</td>
      <td>{{course.tname}}</td>
      <td>{{course.cduration}}</td>
      <td>{{course.cprice|currency:'AUS':true}}</td>



    </tr>
  </table>
</div>
<ng-template #hide>
  <h1>No courses to display</h1>
</ng-template>-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script>$(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });</script>
</head>
<body>
  <div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-4"><h3>Frontend Courses</h3></div>
            <div class="col-sm-4">
              <div>
                <select [(ngModel)]='SortbyParam' style="padding:5px;border-radius:10px;">
                  <option value="cid">cid</option>
                  <option value="cname">Name</option>
                  <option value="cprice">Price</option>

                </select>

                &nbsp;&nbsp;
                <button type="button" (click)="onSortDirection()" class="btn btn-primary">
                  order
                  <i *ngIf="SortDirection==='asc'" class="fa fa-arrow-up"></i>
                  <i *ngIf="SortDirection==='desc'" class="fa fa-arrow-down"></i>
                </button>
              </div>
              </div>
            <div class="col-sm-4">
              <div class="search-box">
                <i class="material-icons">&#xE8B6;</i>
                <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Search&hellip;">
              </div>
              </div>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th>Course ID</th>
              <th>Logo</th>
              <th>Course Name</th>

              <th>Trainer Name </th>
              <th>Duration in Months</th>
              <th>Course Price </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="coursesFront.length!=0;else hide">
            </tr>
            <tr *ngFor='let course of coursesFront|search:{cid: searchText, cname:searchText,tname: searchText}|sort:[SortbyParam,SortDirection]' appZoomd>
              <td>{{course.cid}}</td>
              <td> <img [src]='course.cImage'></td>
              <td>{{course.cname|titlecase}}</td>
              <td>{{course.tname}}</td>
              <td>{{course.cduration}}</td>
              <td>{{course.cprice|currency:'AUS':true}}</td>



            </tr>
          </tbody>
        </table>
        <ng-template #hide>
          <h1>No courses to display</h1>
        </ng-template>
        <div class="clearfix">

          <ul class="pagination">
            <li class="page-item disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
            <li class="page-item"><a href="#" class="page-link">1</a></li>
            <li class="page-item"><a href="#" class="page-link">2</a></li>
            <li class="page-item active"><a href="#" class="page-link">3</a></li>
            <li class="page-item"><a href="#" class="page-link">4</a></li>
            <li class="page-item"><a href="#" class="page-link">5</a></li>
            <li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  
</body>
</html>

