<app-navigation></app-navigation>
<h1>Template Driven Form</h1>
<hr style="background-color:blue"/>

          <div class='container'>
            <div class="row">
              <div class="col">
            <form #userForm='ngForm' (ngSubmit)='submitData(userForm.value)'>

              <div class='form-group'>
                <label>Name:</label>
                <input type='text' class='form-control' name='name' #nameRef='ngModel'
                      ngModel required minlength='5' maxlength='12' pattern='[A-Z][a-z]+'>

                <div *ngIf='nameRef.errors && (nameRef.dirty || nameRef.touched)' class='alert alert-danger'>

                  <div [hidden]='!nameRef.errors.required'>Please enter Name</div>
                  <div [hidden]='!nameRef.errors.minlength'>Please enter atleast 5 characters</div>
                  <div [hidden]='!nameRef.errors.pattern'>Please enter valid name</div>
                </div>

              </div>
              <div class='form-group'>
                <label>Email:</label>
                <input type='text' class='form-control' name='email' #emailRef='ngModel'
                      ngModel required minlength='10' maxlength='30' pattern='[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+'>

                <div *ngIf='emailRef.errors && (emailRef.dirty || emailRef.touched)' class='alert alert-danger'>

                  <div [hidden]='!emailRef.errors.required'>Please enter email</div>
                  <div [hidden]='!emailRef.errors.minlength'>Please enter atleast 5 characters</div>
                  <div [hidden]='!emailRef.errors.pattern'>Please enter valid email</div>
                </div>

              </div>

              <div ngModelGroup="address" #addgroup="ngModelGroup">

                <label>City:</label>
                <input type="text" name="city" minlength="5" class='form-control'
                      #cityRef='ngModel' ngModel required>
                <div *ngIf='cityRef.errors && (cityRef.dirty || cityRef.touched)' class='alert alert-danger'>
                  <div [hidden]='!cityRef.errors.required'>Please enter city</div>
                  <div [hidden]='!cityRef.errors.minlength'>Please enter atleast 5 characters</div>
                </div>

                <label>State:</label>
                <input type="text" name="state" minlength="5" class='form-control'
                      #stateRef='ngModel' ngModel required>
                <div *ngIf='stateRef.errors && (stateRef.dirty || stateRef.touched)' class='alert alert-danger'>
                  <div [hidden]='!stateRef.errors.required'>Please enter state</div>
                  <div [hidden]='!stateRef.errors.minlength'>Please enter atleast 5 characters</div>
                </div>

                <label>Zip Code:</label>
                <input type="text" name="zip" minlength="6" class='form-control'
                      #zipRef='ngModel' ngModel required>
                <div *ngIf='zipRef.errors && (zipRef.dirty || zipRef.touched)' class='alert alert-danger'>
                  <div [hidden]='!zipRef.errors.required'>Please enter zip code</div>
                  <div [hidden]='!zipRef.errors.minlength'>Please enter atleast 6 digits</div>
                </div>

              </div>
              <br />

              <button [disabled]='!userForm.form.valid' type='submit' class='btn btn-success'>Submit</button>

            </form>
                </div>
              <div class="col">
            <div class="container">
              <table class="table table-success table-hover center">
                <tr *ngIf="myData.length>0;">
                  <th>Name</th>
                  <th>Email</th>
                  <th>state</th>
                  <th>City</th>
                  <th>Zip Code</th>

                </tr>
                <tr *ngFor='let product of myData'>
                  <td>{{product.name}}</td>
                  <td>{{product.email}}</td>
                  <td>{{product.address.state}}</td>
                  <td>{{product.address.city}}</td>
                  <td>{{product.address.postalcode}}</td>

                </tr>
              </table>
                                 
            </div>
              </div>
            </div>
          </div>
<app-footer></app-footer>
